 * {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}   
       
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
        
header {
    background-color: #0056b3;
    color: white;
    padding: 0rem 2rem;
    width: 100%;
    animation: drop-down 2s ease;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
}
    /**********************Hamburger**********/
.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.5s ease;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}
     
    /*******Navigation**********/
.navigation ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    background: transparent;
}

nav {
    position: relative;
    z-index: 1000;
    
}

.nav-container{
    justify-content: space-around;
    padding:15px  1px;

    
}


.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    
}

@keyframes drop-down {

from {

opacity:0;
margin-down:150px;

}


to {

opacity:1;
margin-left:0;

}

}

.navigation a:hover {
    color: #c7dbff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
        
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
}
        
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover{
    color: cornflowerblue;       
}
      
nav a.active {
    background-color: rgba(240, 248, 255, 0.87);
    padding:10px 10px;
    color: #0243bb;
    transition: ease-in 0.4s;  
}
nav a.active:hover {
    background-color: rgba(240, 248, 255, 0.87);
    padding: 10px 10px;
    color: #0243bb;
    transition: ease-in 0.4s;            
}


.menu {
    padding: -1rem;
    text-align: center;
}

.menu button {
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 15px;
    padding-top: 10px;
    height: 40px;
    width: 50px;    
}

.menu img{
    width: 20px;
    padding: 0px;
    padding-bottom: 20px;
}

.hero{
    background-image: url('../images/download.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-content{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(340deg,
        #0057b3e0 10%,
        #ffffffcc 100%
    );
    animation: fly-up 2s ease;
    
} 
.hero-content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hero-content p {
    margin-bottom: 1.5rem;
}

.hero-content a{
    font-size: 1.2rem;
   
    background: linear-gradient(340deg,
        #0057b3e0 10%,
        #ffffffcc 100%
    );
    color: white;
    padding: 10px 50px;
    margin-top: 20px;
    border-radius:20px;
    text-decoration: none;
    margin-bottom: 20px;
}

.hero-content a:hover{
     background-color: #0056b3;
    transition: 0 0 8s ease-in-out;
}

.menu button:hover {
    background: #ddd;
}

h1 {
    margin: 1.5rem 0;
    padding: 0 5rem;
}


#members section {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    text-align: center;
}

#members img {
    max-width: 150px;
    height: 8rem;
    margin: 1rem 0;
}

#members a {
    display: inline-block;
    margin: 0.5rem 0;
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

#members a:hover {
    text-decoration: underline;
}

section {
       
    padding: 0.5rem;
    background-color: transparent;
}

section a {
	font-family: Arial, sans-serif;
	font-size: 0.85rem;
	color: rgb(0, 128, 96);
}

/* section h3 {
	font-size: 0.2rem;
    color: red;
} */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    padding: 1rem;
    
    animation: fly-up 2s ease;
}



.grid section {
    background-color: #ddd;
    text-align: center;
    padding: 1rem;
    border: 1.5px solid #0056b3;
    transition: all 0.3s ease;
}

.grid section:hover {
    transform: scale(1.03);

}

.grid section img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.grid section h2 {
    margin: .5rem 0;
}
.list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
}

.list section {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr 2fr;
    align-items: center;
    text-align: left;
    gap: 1rem;
    background-color: #ddd;
    border: none;
    margin: 10px;
    text-wrap: 100%;
}

.list section:nth-child(even) {
    background-color: #c5c5c5;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 0.99rem;
    margin: 0;
}

.list section p,
.list section a {
    margin: 0;
}

img {
	width: auto;
	height: auto;
}
#graphic{
    background-color: #2389f7;
    border-radius: 50%;
}
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1.5px solid #0056b3;
    transition: all 0.3s ease;
}
.card:hover {
    transform: scale(1.03);

}

.card h2 {
    margin-bottom: 1rem;
    color: #0056b3;
}

.card h3 {
    margin-bottom: .5rem;
}
.card p {
    line-height: 1.6;
    color: #333;
}

#spotlight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100px;
}
/* join */

.join-layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:2rem;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 1rem;

}

select{
    padding: 10px;
    font-size: 1rem;
}

textarea{
    padding: 10px;
    font-size: 1rem;
    height: 120px;
}
dialog{
    border-radius: 10px;
    padding: 2rem;
}

.membership-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.join-card{
    background-color: rgba(255, 255, 255, 0.815);
    padding: 2rem 1rem;
    border-radius: 10px;
    animation: fly-up 2s ease;
}

@keyframes fly-up {

from {

opacity:0;
margin-top:50px;

}


to {

opacity:1;
margin-left:0;

}

}

input[type="submit"] {

background:#0056b3;
color:white;
border:none;
cursor:pointer;

}

input[type="submit"]:hover{
    background-color: #0469d6;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    margin: .5rem 0;
            
}

.thanks{
    margin: 1rem;
}

.thanks h2{
    font-size: 2rem;
    padding: .5rem 0;
}

.thanks p{
    padding: .5rem;
    font-size: 1.1rem;
}




.social-icons img{
    height: 120%;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    justify-content: center;
    }
        
.social-icons a {
    display: flex;
    font-size: 0.2rem;
    width: 44px;
    height: 44px;
    color: #0243bb;
    text-decoration: none;
   }

.social-icons a:hover{
    transform: scale(1.3);
    transition: ease-in-out 0.9s;
   }
         
footer {
    background-color: #0056b3;
    text-align: left;
    border-top: 0   px solid;
    font-size: 1.0rem;
    font-weight: 20px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
     padding: 1rem 0rem;
    width: 100%;
    margin: 0 auto;
}


    
 

        
