*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

:root{
    --main-color:#1E3A8A;
    --text-color:#333333 ;
    --bg-color:#F8FAFC;
    --second-bg-color:#F59E0B;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "poppins","roboto";
    line-height: 1.6;
}


/* HEADER */
header{
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 0.5rem 2rem;
    width: 100%;
    border-bottom: 2px solid var(--second-bg-color);
    border-radius: 0px -10px;
}


/* LOGO */
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
span{
     background: linear-gradient(
        230deg,
         #f8fafcea 12%,
        #DF8908 25%,
        #FF1D15 65%
    );
    background-clip: text;
    color: transparent;
}

.logo img{
    height: px;
    width: 16px;
    border-radius: 50%;;
    border: 1px solid var(--second-bg-color);
}


/* Navigation */
.navigation ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navigation a{
    color: #fff;
font-size: 1.2rem;
font-weight: 600;
}
.navigation a:hover{
    color: var(--second-bg-color);
}
nav{
    position: relative;
    z-index: 1000;
}
nav ul{
   display: flex;
   list-style: none;
    gap: 1rem;
}
nav a{
    color:#fff;
    text-decoration: none;
    
}
nav a.active{
    background-color: var(--bg-color);
    padding: 10px 10px;
    color: var(--second-bg-color);
    border: 1px solid var(--main-color);
}
nav a.active:hover{
    background-color: var(--bg-color);
    padding: 10px 10px;
    color: var(--second-bg-color);
    border: 1px solid var(--main-color);
}
.nav-container{
    justify-content: space-around;
    padding: 15px 1px;
}
.active{
    background: linear-gradient(
        160deg,
        
        #F8FAFC 8%,
        #df8908e5 20%,
        #ff1d15e7 70%
    );
    padding: 0.7rem 1rem;   
    border-radius: 20px 0px;
    transition: all 3s ease-in;
}


/* HAMBURGER MENU */
.hamburger{
    display: none;
    background:none ;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 2s ease;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content:"\00D7";
}


/* HERO SECTION */
/* .hero{
    background-image: url('../images/about_the_eif.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
} */

.hero img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.hero-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 2rem 3rem;
    border-radius: 50px 0px 60px 0px;
    background: linear-gradient(340deg,
        var(--main-color) 10%,
        #ffffffcc 100%
    );
    animation: fly-up 2s ease;
    z-index: 0;
    
} 
.hero-content span{
    opacity: 80%;
}
.hero-content h1 {
    margin-bottom: 0rem;
    font-size: 1rem;
}
.hero-content h2{
    font-size: 3rem;
}

.hero-content p {
    margin-bottom: 1.5rem;
}

.hero-content a{
    font-size: 1.2rem;
   
    background: linear-gradient(340deg,
        #0057b3e0 10%,
        #ffffffcc 100%
    );
    color: white;
    padding: 10px 50px;
    margin-top: 20px;
    border-radius:20px;
    text-decoration: none;
    margin-bottom: 20px;
}

.hero-content a:hover{
     background-color: #0056b3;
    transition: 0 0 8s ease-in-out;
}
.heading h1{
    text-align: center;
    margin: 1.2rem 0px;
    color: var(--main-color);
    font-style: oblique;
}


/* EVENTS */
#allevents div{
    margin: 1.2rem 0.5rem;
    border: 1.8px solid var(--second-bg-color);
    background-color: #eee;
    border-radius: 0px 30px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    transition: all 0.3s ease;
    display: grid;
    grid-template-areas: 
    "names"
    "photograph"
    "description"
    "location"
    "date"
    "time"
    "category";
   animation: fly-up 2s ease;
}

@keyframes fly-up {

from {
    opacity:0;
    margin-top:50px;
    }

to {
    opacity:1;
    margin-left:0;  
    }
}

/* #allevents div:hover {
    transform: scale(1.03);

} */
#allevents div h1{
    margin:1rem 10px;
    grid-area: names;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    color: var(--main-color);
}

#allevents div img{
    width: 100%;
    height: 220px;
    grid-area: photograph;
    border-top-left-radius: 0px;
}

#allevents div p{
    margin: 0.2rem 10px;
    grid-area:description;
}
#allevents div address{
    margin: 0.3rem 10px;
    grid-area: location;

}

#allevents div time{
    margin: 0.3rem 10px;
    grid-area: time;
}
#allevents div date{
    margin: 0.09rem 10px;
    grid-area: date;
}

#allevents div h2{
    margin: 0.01rem 10px;
    grid-area: category;
    font-weight: 300;
    color: var(--main-color);
    text-align: end;

}

/* SPOTLIGHTS */
.spotlight{
    border: 1px solid  #e7e5e5;
    margin: 20px 20px;
    border-radius: 20px;
    padding: 10px 5px;
    background-color: #e7e5e5;

}

.spotlight a{
    display: inline-block;
    margin: 1rem 1rem;
    padding: .2rem .5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--second-bg-color);
    color: var(--bg-color);
}

.spotlight a:hover{
    transform: scale(1.1);background-color: var(--second-bg-color);
}


#spotlights div{
    margin: 1.2rem 0.5rem;
    border: 1.8px solid var(--second-bg-color);
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    transition: all 0.3s ease;
    display: grid;
    grid-template-areas: 
    "names"
    "photograph"
    "description"
    "location"
    "date"
    "time"
    "category";

}

#spotlights div:hover{
    transform: scale(1.03);
}

#spotlights div h1{
    margin:1rem 10px;
    grid-area: names;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    color: var(--main-color);
}



#spotlights div img{
    width: 100%;
    height: 220px;
    grid-area: photograph;
    border-top-left-radius: 0px;
}

#spotlights div p{
    margin: 0.2rem 10px;
    grid-area:description;
}

#spotlights div date{
    margin: 0.09rem 10px;
    grid-area: date;
}

#spotlights div h2{
    margin: 0.03rem 20px 10px 0px;
    grid-area: category;
    font-weight: 300;
    color: var(--main-color);
    text-align: end;

}

/* CARD */
.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1.5px solid var(--second-bg-color);
    transition: all 0.3s ease;
    margin:1rem 3px ;
    text-align: center;
}
.card:hover {
    transform: scale(1.02);

}
.card h2 {
    margin-bottom: .5rem;
    color: var(--main-color);
    font-weight: 500;
}

.card h3 {
    margin-bottom: .5rem;
}
.card h4{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--main-color);
}
.card h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--second-bg-color);
}
.card p {
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
}
.card img{
    background-color: var(--main-color);
    border-radius: 50%;
    width: 100%;
}
.slipt-spotlight{
    border: 1px solid  #e7e5e5;
    margin: 10px 10px;
    border-radius: 20px;
    padding: 10px 5px;
    background-color: #e7e5e5;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
/* UPCOMIG */
#upcoming  div{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1.5px solid var(--second-bg-color);
    transition: all 0.3s ease;
    margin:1rem 3px ;
    text-align: center;
     margin: 1rem 8px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    display: grid;
    grid-template-areas: 
    "photograph names"
    "photograph description"
    "photograph location"
    "photograph date"; 
}

#upcoming   div h1{
    margin:0.2rem 10px;
    grid-area: names;
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--main-color);
}

#upcoming div h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--second-bg-color);
}

#upcoming   div img{
    width: 100%;
    height: 220px;
    grid-area: photograph;
    border-top-left-radius: 0px;
}

#upcoming   div p{
    margin: 0.2rem 10px;
    grid-area:description;
}

#upcoming   div date{
    margin: 0.2rem 10px;
    grid-area: date;
    color:var(--main-color);
}

.about-sec{
    border: 1px solid  #e7e5e5;
    margin: 10px 10px;
    border-radius: 20px;
    padding: 1.5rem 1.1rem;
    background-color: #e7e5e5;
    display: grid;
    grid-template-columns: 1fr .9fr;
    gap: 10px;
}

.about-sec img{
    width: 100%;
    height: 100%;
    margin: 0rem 5px;
    border-radius: 0 20px 20px 0;
    
}

.about-sec img:hover{
    transform: scale(1.02);
    transition: all 1s ease-in-out;    
    border-radius: 30px;
}

.lefta{
    background-color: var(--bg-color);
    padding: 1.8rem;
    border-radius: 20px 0px 0px 20px;
}

.lefta p{
    margin: 1rem 0 1.2rem 0;
}
.lefta a{
    margin: 1rem 0rem;
    padding: .5rem .4rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    background-color: var(--second-bg-color);
    color: var(--bg-color);
}
.lefta a:hover{
    transform: scale(1.2);
}
.lefta h1{
    color: var(--main-color);
    font-weight: 400;
}


/* JOIN */
.join-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:2rem;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    color: var(--main-color);
    
}

label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1.5px solid var(--second-bg-color)

}

select{
    padding: 10px;
    font-size: 1rem;
}

textarea{
    padding: 10px;
    font-size: 1rem;
    height: 120px;
     border: 1.5px solid var(--second-bg-color);
}
dialog{
    border-radius: 10px;
    padding: 2rem;
}

.membership-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right-c{
     animation: slide-left 2s ease-in-out;
}
.left-c{
    animation: slide-right 2s ease-in-out;
}
.join-card{
    background-color: rgba(255, 255, 255, 0.815);
    padding: 2rem 1rem;
    border-radius: 2rem 0rem;
    border: 2px solid var(--second-bg-color);
}
@keyframes slide-right {

from {

opacity:0;
margin-top:0s;

}


to {

opacity:1;
margin-left:50px;

}

}


@keyframes slide-left {

from {

opacity:0;
margin-top:0s;

}


to {

opacity:1;
margin-right:50px;

}

}

@keyframes fly-up {

from {

opacity:0;
margin-top:50px;

}


to {

opacity:1;
margin-left:0;

}

}

input[type="submit"] {

background:var(--main-color);
color:white;
border:none;
cursor:pointer;

}
option {
    color: var(--main-color);
    font-size: 1.1rem;
}

input[type="submit"]:hover{
    background-color: var(--second-bg-color);
}
.form-layout{
    display: grid;
    align-items: center;    
    grid-template-columns: 1fr;
    width: 100%;
    padding:0 5rem 5rem 5rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    margin: .5rem 0;
            
}

.thanks{
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    width: 50%;
    align-items: center;
    background-color: var(--bg-color);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.32);
}

.thanks h1{
    font-size: 2rem;
    font-weight: 400;
    padding: .5rem 0;
    color: var(--main-color);
}

.thanks p{
    padding: .5rem;
    font-size: 1.1rem;
}
.thanks strong{
    color: var(--main-color);
}



.hero-thanks img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

#thanks{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:var(--text-color);
    padding: 3rem;
    border-radius: 50px 50px 50px 50px;
    background-color: #e7e5e5;
    animation: fly-up 2s ease;
    z-index: 0;
    padding: 1.2rem;
}
#thanks p{
    margin:.2rem auto;
}
#thanks .sub-head{
    font-size: .9rem;
    color: var(--main-color);
    font-weight: 400;

}

#thanks a{
    margin: 3rem auto;
    background-color: var(--main-color);
    color: #fff;
    padding: .5rem;
    border-radius: 20px;
    border: 1px solid var(--second-bg-color);
}

#thanks a:hover{
    background-color: var(--second-bg-color);
}


#reply{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:var(--text-color);
    padding: 1rem;
    border-radius: 50px 50px 50px 50px;
    background-color: #e7e5e5;
    animation: fly-up 2s ease;
    z-index: 0;
}
#reply p{
    margin:.2rem auto;
}

#reply a{
    margin: 3rem auto;
    background-color: var(--main-color);
    color: #fff;
    padding: .5rem;
    border-radius: 20px;
    border: 1px solid var(--second-bg-color);
}

#reply a:hover{
    background-color: var(--second-bg-color);
}

/* DISCOVER */
#discoverall  div{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1.5px solid var(--second-bg-color);
    transition: all 0.3s ease;
    margin:1rem 3px ;
    text-align: center;
    margin: 1rem 8px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    display: grid;
    grid-template-areas: 
    "photograph names"
    "photograph description"
    "photograph location"
    "photograph category"
    "photograph date"; 
} 

#discoverall div{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
#discoverall   div h1{
    margin:0 10px;
    grid-area: names;
    width: 100%;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--main-color);
}

#discoverall  div h2{
    font-size: 1.2rem;
    font-weight: 300;
    grid-area: category;
    color: var(--main-color);
}

#discoverall   div img{
    width: 100%;
    height: 100%;
    grid-area: photograph;
    border-top-left-radius: 0px;
}

#discoverall   div p{
    margin: 0.2rem 10px;
    grid-area:description;
}

#discoverall   div date{
    margin: 0.2rem 10px;
    grid-area: date;
    color:var(--main-color);
}



/* SOCAL ICONS */
.social-icons img{
    height: 40%;
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 2px;
    justify-content: start;
    margin: 1rem 1rem;
}
.social-icons img:hover{
    transform: scale(1.2);
    transition: ease-in-out 1.0s;
}

/* FOOTER */
footer{
    background-color: var(--main-color);
    text-align: left;
    border-top: 1px solid var(--second-bg-color);
    font-size: 1rem;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:1rem;
    padding: 1rem 0.8rem;
    width: 100%;
    margin: 0 0;
}